version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 5
  reviewers:
    - Revolyssup
    - DelusionalOptimist
  labels:
    - "dependencies"
